fastapi~=0.116.1
uvicorn~=0.35.0
pydantic~=2.11.7
openai~=1.102.0
pytz~=2024.2
holidays~=0.80
pandas~=2.2.3
sqlalchemy~=2.0.43
psycopg2
numpy~=2.2.0
protobuf~=6.32.0
yfinance~=1.3.0
requests~=2.32.3
matplotlib~=3.10.0
tqdm~=4.67.1
google-genai